body {
  background: #FFF;
  margin: 0;
  padding: 30px;

}

.container {
  width: 600px;
  margin: 100px auto;
  border: 2px;
}

.center_dammit {
  text-align: center;
  color: "#cc3399";
}

h1 {

  font-family: arial;
  font-style: strong;
  text-align: center;
}

h2 {
  font-family: arial;
  font-style: strong;

}

ul,ol  {
  color: #333;
  font-family: arial;
  font-size: 13pt;
  line-height: 18pt;
  font-style: strong;
  list-style-type: square;
}

p {
  color: #333;
  font-family: times-new-roman;
  font-size: 13pt;
  line-height: 18pt;
  font-style: strong;
}

header p {
    color: black;
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    color: green;
}


header a {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    color: black;
}

footer a {
    font-weight: bold;
    font-family: arial, helvetica, sans-serif;
    text-align: center;
    color: black;
}
  .active-link {
    text-decoration: none;
    color: black;
    font-style: italic;
  }

.about-photo {
float: right;
width: 150px;
height: 150px;
margin: 10px;
border: 1px;
color: red;
border-radius: 75px;

  }

  /* Gradient transparent - color - transparent */

hr.style-fade {
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
border: 1px solid black;
margin: 10px;

}

.exp-section p {
  color: #333;
  font-family: times-new-roman;
  margin-top: 0px;

}


}